/* 
font-family: 'Cinzel', serif;
font-family: 'Economica', sans-serif;
font-family: 'Taviraj', serif;
font-family: 'Adamina', serif;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Playfair Display SC', serif;
 */

body 
{
    /* background-image: url("bibhash-das.jpg"); */
    background-color: #FFFCFF;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main 
{
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
}

.nav-1 {
    background-color: #FFFCFF;
    margin-bottom: 0;
}

.nav-1 a
{ 
    color: #7A7A7A;
}

.nav-1 ul li a 
{
 color: #B8715B; 
 font-size: 22px;
 font-family: 'Cinzel', serif;
}

.fam-logo 
{
    margin-left: 40px;
    color: #7A7A7A;
    font-family: 'Playfair Display SC', serif;
}

.nav-1 ul 
{
margin-right: 40px;
}

.border-bottom 
{
    border-bottom: 3px solid #247BA0;
}

.home-img 
{
    min-height: 300px;
    max-height: 400px;
    background: transparent;
    min-width: 100%;
}
.card-1 
{
    background-image: url("../images/aryanne-valgas_2.jpg");
    margin: 0px;
    height: 700px;
}

.card-1 span
{
    color: #FFFCFF;
    font-family: 'Playfair Display SC', serif;
    margin: 30px;
}

.welcome
{
    font-family: 'Taviraj', serif;
    font-size: 40px;
    text-align: left;
    opacity: 1;
}


.slogan 
{
    font-family: 'Taviraj', serif;
    font-size: 30px;
    text-align: right;
    /* width: 100%; */
    opacity: 1;
}
.card-2
{
    background-color: #FFFCFF;
    margin-top: 20px;
    min-height: 500px;
}

.about-us
{
    font-size: 20px;
    font-family: 'Adamina', serif;
    margin-bottom: 100px;
    color: rgb(68, 67, 67);
}

.state
{
    padding: 30px !important;
    border-top: 1px #247BA0 solid;
    border-bottom: 1px #247BA0 solid;
}

.home-center
{
    color: #FFFCFF;
    background-color: rgb(122,122,122, .8);
    min-height: 40px !important;
    font-family: 'Taviraj', serif;
    width: 100%;


}
.temp-logo-cont {
    margin-top: 120px;
    text-align: center;
    height: 250px;
}

.temp-logo-img
{
    height: 200px;
}

.no-shadows {
    box-shadow: none!important;
}

.copyright 
{
    text-align: center;
    height: 27px;
    padding: 3px;
    background-color: #7A7A7A;
    margin-top: 0px;
    color: #FFFCFF;
}
.card-title-1 
{
    font-family: 'Cinzel', serif;
    margin-bottom: 40px!important;
    font-size: 50px!important;
    color: #B8715B;
}

.card-title-2 
{
    font-family: 'Cinzel', serif;
    margin-bottom: 40px!important;
    font-size: 40px!important;
    color: #7A7A7A;
}

.serv-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.serv {
    margin: 10px;

}
.serv1 
{
    min-height: 200px;
    width: 400px;
    background-color: rgb(68, 67, 67);
    color: #FFFCFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

a.serv1 
{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

a.serv1:hover 
{
    background-color: #B8715B;
    color: #FFFCFF;
    text-decoration: none;
    
}

.card-title-contact
{
    font-family: 'Cinzel', serif;
    margin-top: 20px!important;
    margin-bottom: 40px!important;
    font-size: 45px!important;
    color: #B8715B;
}


.input-field label 
{
    color: #247BA0;
}

.input-field input[type=text]:focus + label 
{
    color: #247BA0;
}

.val-icon
{
    color: #B8715B;
    text-align: center;
    margin: 10 0;
}

.value 
{
    background-color:rgb(68, 67, 67);
    min-height: 250px;
    margin: 0 3%;
    padding: 15px;
    color: #FFFCFF;
    
}

.val-name 
{
    font-family: 'Economica', sans-serif;
    font-size: 27px;
    color: #FFFCFF;

}

.val-desc 
{
    padding: 10px;
    font-size: 22px; 
    font-family: 'Economica', sans-serif;
    color: #FFFCFF;
}

.form-cont
{
    text-align: center;
    align-content: center;
    margin-top: 30px;
    background-color: #7A7A7A;
    padding: 40px;
    width:80%;

}
.form-card 
{
    text-align: center;
    align-content: center;

}

.serv-desc
{
    font-family: 'Taviraj', serif;
    color: #7A7A7A;
    font-size: 20px;
}
.mech-card
{
    border-top: none;
}
.mech-des-title
{
    font-family: 'Cinzel', serif;
    margin-bottom: 40px!important;
    font-size: 50px!important;
    color: black;
    margin-left: 40px;
}
.what-slogan
{
    color: black;
    font-size: 50px!important;
}
.mech-icon
{
    color: #7A7A7A;
    margin: 5px;
    font-size: .7rem!important;
}

.submit-form
{
    background-color: #247BA0 !important;
}

.submit-form:hover 
{
    background-color: #B8715B !important;
    color: #FFFCFF;
    text-decoration: none;
    
}

#errorHeader1
{
    font-size: 18px;
    font-family: 'Adamina', serif;
    color: rgb(214, 38, 38);
}

.border_test 
{
    border: 1px solid black;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    min-width: 100%;
}

.input-container 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-field 
{
    flex-basis: 47%;
}

.input-container-2 
{
    width: 100%
}


@media screen and (max-width: 900px) {

    .serv-container
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .input-container
    {
        flex-direction: column;
    }

    .form-cont
    {
        padding: 30px;
    }

}

@media screen and (max-width: 400px) {

    .serv-container
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .serv1 
    {
    min-height: 200px;
    width: 300px;
    background-color: rgb(68, 67, 67);
    color: #FFFCFF;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    }

    .brand-logo 
    {
        font-size: 1.5rem !important;
    }

    .form-cont
    {
        padding: 20px;
    }
}
